Day1:The Beginning

~ conversion (:-)
~ mutable/immutable(:-)
~ loops:for (:-)
~ conditional statement
~ function 
~ try catch finally
~ switch
~ functioning of data types
~ classes 
~ operators (:-)
~ range(:-)
~ indexing(:-)
~ slicing(:-)

In [10]:
# date(09/8/23)-slot1;slot2
# date(10/8/23)-slot1;slot2
# date(11/8/23)-slot1,slot2
# date(12/8/23)-Revision,doubt session + slot1
# date(13/8/23)-Revision,doubt session + slot1
# 14 : practice+doubt
# 15 : doubt + slot1

a= 5

In [10]:
#for printing
a=5
print('a=', a)

a= 5

In [13]:
#types of variable

# INTEGER
age=23
print(age)

# STRING
name="vanshita"
print(name)

# DECIMAL
weight=51.9
print(weight)

#BOOLEAN
isTalented=True #here 'isTalented' is Camel Case format where first character start as a lowercase which next one's begin with uppercase
isDumb=False
print(isTalented,isDumb)

#COMPLEX
math=3+4j
print(math)

#LIST
scores=[88,78,82,50,90]
print(scores)

#TUPLE
subjects=("math","science","chemistry","zoology","botany")
print(subjects)

#SET(it always takes unique entry only, implies it remove extra value)
river={"ganga","yamuna","ganga","kaveri","son","son","son"}
tree=set(["peepal","ashoka","eucalyptus","ashoka","banyan"])
print(river)
print(tree)

#DICTIONARY
highSchoolScore={"math":88,"science":92,"ethics":78} #called OBJECT in JS, as HASHNAP in C++/C
print(highSchoolScore)

23
vanshita
51.9
True False
(3+4j)
[88, 78, 82, 50, 90]
('math', 'science', 'chemistry', 'zoology', 'botany')
{'kaveri', 'son', 'ganga', 'yamuna'}
{'eucalyptus', 'banyan', 'ashoka', 'peepal'}
{'math': 88, 'science': 92, 'ethics': 78}

In [27]:
#conditional operators
# (<,>,==,!=,<=,>=,in,or,not,and)
# output will either be true or false
# 0=false else true
# a=a+1 (mathematician says this equation is false whereas coder/programmer says this equation is true. Why?)
# a=a+1 ((in maths '=' used for comparision; in coding '=' used for assignment(to reassign the vaue); '==' used for comparision in coding))
a,b=0,7
print("a=",a,"b=",b)
print("a<b=",a<b)
print("a>b=",a>b)
print("a==b=",a==b)
print("a<=b=",a<=b)
print("a>=b=",a>=b)
print("a!=b=",a!=b)
print("a or b=",a or b)
print("a and b=",a and b)
print("not a=",not a)
print("not b=",not b)
lst=["red","green","blue","yellow"]
st={"peepal","ashoka","eucalyptus","ashoka","banyan"}
dic={"math":88,"science":92,"ethics":78}
tpl=("math","science","chemistry","zoology","botany")
print("black" in lst)
print("math" in tpl)
print("peepal" in st)
print("economy" in dic)

a= 0 b= 7
a<b= True
a>b= False
a==b= False
a<=b= True
a>=b= False
a!=b= True
a or b= 7
a and b= 0
not a= True
not b= False
False
True
True
False

In [8]:
dic={"math":90,"science":90,"ethics":90}
print(dic) # key:value pair; in dictionary key will never be repeated whereas values could be same

{'math': 90, 'science': 90, 'ethics': 90}

In [20]:
a={20:1,200:2,2000:3,20000:4}
print(type(a)) # everything is class in python #float=deccimal

<class 'dict'>

In [46]:
a='hello' #not all the time string could be converted to integer but exceptional exist
# '5'(str) => 5(int), 5.0(float)
# '5.3'(str) => 5(int), 5.3(float)

b= '5'
print(b,int(b),float(b))
c='5.3'
print(c,int(float(c)),float(c)) # functions run from inside to outside
e='5'
f=5.3
print(int(e),int(f)) # focus on kisme convert kran hai
e='5'
f=5
print(float(e),float(f))

# int(),float(),str(),list(),tuple(),set(),dic(),bool(),complex() we will use these function only to convert between data types

a,b,c=0,0.0,'0'
print(bool(a),bool(b),bool(int(c)))

# type()-This function is used to check the type of data

a=("Q","W","E","R","T","Y","T")
print(list(set(a)))
dic={"he":1000,"she":800,"thirdgender":300}
print(dic)
print(list(dic.keys()))
print(list(dic.values()))
print(list(dic.items()))

5 5 5.0
5.3 5 5.3
5 5
5.0 5.0
False False False
['T', 'W', 'Y', 'E', 'R', 'Q']
{'he': 1000, 'she': 800, 'thirdgender': 300}
['he', 'she', 'thirdgender']
[1000, 800, 300]
[('he', 1000), ('she', 800), ('thirdgender', 300)]

In [47]:
#fun with string ' '," ",''' '''
statement='My name is Khan'
print(statement)
statement2="It's my pleasure"
print(statement2)
statement3='''This is a gem. And it's name is "Farooq"'''
print(statement3)

My name is Khan
It's my pleasure
This is a gem. And it's name is "Farooq"

In [60]:
# we can convert two list into a dictionary using 'zip' function inside 'dict' function

subjects=["hindi","english","math","art"]
sports=["handball","volleyball","football","basketball"]
print(dict(zip(subjects,sports)))

# we can convert a dictionary into two separate keys and values list

dic={"he":1000,"she":800,"thirdgender":300}
print(dic)
print(list(dic.keys()))
print(list(dic.values()))
print(list(dic.items()))
      
print(1000 in dic.values())
      
print("he" in dic)
print("he" in dic.keys())

{'hindi': 'handball', 'english': 'volleyball', 'math': 'football', 'art': 'basketball'}
{'he': 1000, 'she': 800, 'thirdgender': 300}
['he', 'she', 'thirdgender']
[1000, 800, 300]
[('he', 1000), ('she', 800), ('thirdgender', 300)]
True
True
True

In [7]:
a=5
a=7
print(a)
a="hello"
print(a)
a="namaste"
print(a)

# mutable are those data types which can be change/mutate by any method at its address: data change but address doesn't change by any method
# immutable are those data types which cannot be change

# MUTABLES => set, dict, list
# IMMUTABLES => int, float, bool, str, tuple, complex

a=5
print(id(a))
a=7
print(id(a))
a=7
print(id(a))
a=5
print(id(a))
a="hello"
print(id(a))
a="hi"
print(id(a))
a="hello"
print(id(a))
a="hi"
print(id(a))
a=["Q","W","E","R","T","Y","T"]
print(id(a))
a.pop(-1)
print(a)

# a=["Q","W","E","R","T","Y"]
print(id(a))

7
hello
namaste
140703342519208
140703342519272
140703342519272
140703342519208
2280399059376
2280309174768
2280399059376
2280309174768
2280403190464
['Q', 'W', 'E', 'R', 'T', 'Y']
2280403190464

In [14]:
# operators- +,-,*,/(normal division),//(floor division),%(remainder),floor(), ceil(), abs(), INF_FLOAT(max possible value)
from math import * 
print("5/3=",5/3)
print("5//3=",5//3)
print("5%3=",5%3)
print("5+3=",5+3)
print("5-3=",5-3)
print("5*3=",5*3)
print("5**3=",5**3)
print("floor of 1.7=", floor(1.7))
print("ceil of 1.7=",ceil(5/3))
print("abs of -3=",abs(-3))

5/3= 1.6666666666666667
5//3= 1
5%3= 2
5+3= 8
5-3= 2
5*3= 15
5**3= 125
floor of 1.7= 1
ceil of 1.7= 2
abs of -3= 3

In [22]:
#if value is same, adress will be the same regardless of variable name

a=5
print(id(a))
a=7
print(id(a))
c=5
print(id(c))
a=7
print(id(a))
a,b,c=5,5,5
c=7
print(id(a),id(b),id(c))

140703720334248
140703720334312
140703720334248
140703720334312
140703720334248 140703720334248 140703720334312

In [9]:
# list,set,dictionary are mutables
# '=' changes the address

a=5
print(id(a))
a=7
print(id(a))
lst=[1,2,3]
print(id(lst))
lst=[1,2,3,4]
print(id(lst))

# '=' changes the address no matter object is mutable or immutable
print('---')
a=[1,2,3]
print(a)
print(id(a))
a.append(4)
print(a)
print(id(a))

140703342519208
140703342519272
2280403592512
2280403601024
---
[1, 2, 3]
2280403581952
[1, 2, 3, 4]
2280403581952

In [50]:
#ASSIGNMENT(=)
# '=' always change address no matter its mutable or immutable, only when assigned value is different
a,b,c=1,3,5
a=b+1 #a=4,b=3,c=5
b=c+1 #a=4,b=6,c=5
c=a+b #a=4,b=6,c=10
a=a+b+c #a=20,b=6,c=10
b=c-a #a=20,b=-10,c=10
c=a-b-c #a=20,b=-10,c=20
print(a,b,c)
a=abs(b)
print(a)
a=7+((4*3)//2)
print(a)
a,b=3,4
print(a,b)
c=a
a=b
b=c
print(a,b)
# a=5
# c=a
# print(a,c)
a,b=5,7
print(a,b)
a=a+b #a=12,b=7
b=a-b #a=12,b=5
a=a-b #a=7,b=5
print(a,b)
a,b=10,12
print(a,b)
# a,b=b,a
# print(a,b)
print(b,a)

20 -10 20
10
13
3 4
4 3
5 7
7 5
10 12
12 10

In [64]:
lst=[1,2,3]
bst=lst
print(lst,bst)
print(id(lst),id(bst))
a=5
b=a
b=7
print(a,b)
print(id(a),id(b))
lst=[1,2,3]
bst=lst
lst=[3,4,5]
print(lst,bst)
print(id(lst),id(bst))

# jabtak '=' apply nahi hoga tabtak address change nahi hoga
# jab '='a apply hoga to address ta bhi change hoga jab value different ho
lst=[1,2,3] #lst=[1,2,3]
bst=lst     #bst,lst=[1,2,3]
lst.append(4) #lst,bst=[1,2,3,4] 
bst.append(5) #bst,lst=[1,2,3,4,5]
print(lst,bst)
print(id(lst),id(bst))
print('---')
lst=[1,2,3] #lst=[1,2,3]
bst=lst     #lst,bst=[1,2,3]
cst=bst     #lst,bst,cst=[1,2,3]
bst=[3,4,5] #lst,cst=[1,2,3],bst=[3,4,5]
print(lst,bst,cst)
print(id(lst),id(bst),id(cst))
print('---')

[1, 2, 3] [1, 2, 3]
2410315037248 2410315037248
5 7
140703720334248 140703720334312
[3, 4, 5] [1, 2, 3]
2410315037376 2410315033984
[1, 2, 3, 4, 5] [1, 2, 3, 4, 5]
2410315037248 2410315037248
---
[1, 2, 3] [3, 4, 5] [1, 2, 3]
2410315026752 2410315037376 2410315026752
---

In [72]:
a,b,c=5,6,7
d=a+b+c
print(d)
lst=[2,4,6,8,10]
f=lst[0]+lst[1]+lst[2]+lst[3]+lst[4]
print(f)
lst=[1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,38,39,41,43]
a=0
for t in lst:
    print(t)
# above syntax mean 
''' 
t=1(first time)
t=3(second time)
t=5(third time)
t=7(fourth time)
.
.
.
t=43(23rd time)
'''
print('---')
print(t)
# a=0
for t in lst:
    a=t
print(t)    
print("a=",a)

18
30
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
38
39
41
43
---
43
43
a= 43

In [1]:
lst=[3,4,5,6,7,8,9,10,11,12]
a=0
# t=3
# a=a+t
# print(a)
# t=4
# a=a+t
# t=5
# a=a+t
# t=6
# a=a+t
# t=7
# a=a+t
# t=8
# a=a+t
# t=9
# a=a+t
# t=10
# a=a+t
# t=11
# a=a+t
# t=12
# a=a+t
# print(a)

for t in lst:
    a=a+t
print(a)

75

In [3]:
lst=[1,2,3,4,5,6,7]
sm=0
for t in lst:
    sm=sm+t
print(sm)
# from math import *
# import math 
# import math as m
# import numpy as np
# import pandas as pd
# import matplotlib.pyplot as plt

28

In [ ]:
# lst=[1,2,...,n]
# range(start,end,jump) where start, end, and jump msut be integer; start by default value is 0; jump bydefault value is 1;
print(list(range(0,1001,10)))
# lst=list(range(1,51,1))
# print(lst)
# sm=0
# for t in lst:
#     sm=sm+t
# print(sm)

# ques? Find the sum of numbers from 1 to 50.
# ran=range(1,51)
# print(ran)
# sm=0
# for t in range(1,51):
#     sm=sm+t
# print(sm)

#ques? print hello 10 times
# n=input()
# for _ in range(n):
#     print("hello")

# a=input()
# print("type of a=",type(a))
# print(a)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520, 530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780, 790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910, 920, 930, 940, 950, 960, 970, 980, 990, 1000]

In [94]:
#ques? TAKE A INPUT FROM USER IN A VARIABLE NAME n AND PRINT hello n TIMES
# n=input(5)
n=int(input())
# print("n=",n)
# print("type of n",type(n))
for _ in range(n):
    print("hello")

 1

hello

In [1]:
lst=[5,6,7]
# sm=0
# for t in lst:
#     sm=sm+t
# print(sm)

bst=[7,8]
# sm=0
# for t in bst:
#     sm=sm+t
# print(sm) 

cst=[3,4,5,7,9]
# sm=0
# for t in cst:
#     sm=sm+t
# print(sm)

dst=[9,10,11]
# sm=0
# for t in dst:
#     sm=sm+t
# print(sm)

# defining a function

In [51]:
# print("hello")
# a=5
# print(a)
# print(type(a))
# print(id(a))
# lst=[1,5,7]
# sm=0
# for t in lst:
#     sm=sm+t
# print(sm)
# n=int(input('enter a no.'))
# for _ in range(n):
#     print(sm)

# def soumyaSum():
#     return 4
#     return False 
# a=int(5.0)
# b=soumyaSum()
# c=a
# print(a)
# print(b)
# print(c)
# a=soumyaSum()
# print(a)
# a=False

4

In [39]:
''' 
STEP1: to create a function
       def function_name():
           function content
        
STEP2: to use a function
    function_name()
'''

' \nSTEP1: to create a function\n       def function_name():\n           function content\n        \nSTEP2: to use a function\n    function_name()\n'

In [16]:
lst=[4,5,6,7,8,9,1,2,3,4,5,2,23,43,55,6,4,7,888,43,2,233,4]
# print(lst)
# print(lst[0])
# print(lst[1])
# print(lst[2])
# print(lst[6])
# for t in range(lst[3],lst[9]):
# ques? print elelments of list from 5th to 10th
print(lst[4],lst[5],lst[6],lst[7],lst[8],lst[9])

for t in range(4,10):
    print(lst[t])

8 9 1 2 3 4
8
9
1
2
3
4

In [69]:
# range
print(range(3,5))
print(list(range(0,1001,10)))
# print(1,1000)

range(3, 5)
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300, 310, 320, 330, 340, 350, 360, 370, 380, 390, 400, 410, 420, 430, 440, 450, 460, 470, 480, 490, 500, 510, 520, 530, 540, 550, 560, 570, 580, 590, 600, 610, 620, 630, 640, 650, 660, 670, 680, 690, 700, 710, 720, 730, 740, 750, 760, 770, 780, 790, 800, 810, 820, 830, 840, 850, 860, 870, 880, 890, 900, 910, 920, 930, 940, 950, 960, 970, 980, 990, 1000]

In [6]:
a=5
print(id(a))
a=8
print(id(a))
# memory have address fixed i.e. immutable
# we have certain special function assign like append(),pop() e.t.c. coz of which without using'=' we can change,append the value without changing address
lst=[1,2,3]
print(id(lst))

140704035693480
140704035693576
2254554344896

In [17]:
#set have no specific order, thats why we use add() instead of append()
st={2,3,6,18}
print(id(st))
st.add(108)
print(id(st))

2254554001952
2254554001952

In [24]:
# \n(backslash n) used to break the line
s="love to do coding"
print(s)
t="my name is khan.\nI am not a terrorist"
print(t)

love to do coding
my name is khan.
I am not a terrorist

In [32]:
# \n bydefault add after every print()
# end is a parameter
lst=[4,5,6,7,8,9,1,2,3,4,5,2,23,43,55,6,4,7,888,43,2,233,4]
for t in range(4,10):
    print(lst[t],end='')

891234

In [66]:
lst=[1,2,3,4,5,6,7,8,9,923,4,65,23,13,1334]
st="you are my destiny. I am praise of being myself."
# [START:END:JUMP]
# START---bydefault 0
# end---bydefault take last index
#jump ----1
print(st[0],st[1],st[-1])
print(st[0:3:1],st[4:7:1],st[-7::1])
print(st[0:18:2])
#REVERSING OF STRING
st= "olleh"
print(st[-1::-1])
#REVERSING OF AN ARRAY/LIST
print(lst[-1::-1])

tpl=(2,3,4,55,6)
k=tpl[-1::-1]
# print(tpl[-1::-1])
print(k)

y o .
you are myself.
yuaem etn
hello
[1334, 13, 23, 65, 4, 923, 9, 8, 7, 6, 5, 4, 3, 2, 1]
(6, 55, 4, 3, 2)

In [88]:
# in dicionary we can do indexing instead of slicing
dic={"you":3,"me":2,"he":2,"they":4}
lst=list(dic.keys())
print(lst)
print(dic["he"])
dic={"tomato":2,"potato":5,"onion":4,"watermelon":2}
dic["potato"]=6
print(dic["potato"])
dic["water"]=10
del dic["tomato"]
# print(dic["grapes"])
l=dic.get("grape",0)  # bydefault none added
print(l)
print(dic)

['you', 'me', 'he', 'they']
2
6
0
{'potato': 6, 'onion': 4, 'watermelon': 2, 'water': 10}

In [102]:
lst=["is","am","are"]
print(id(lst))
lst[1]="are"
print(id(lst))  #lst ke andr ghuskr change kr rahe hai isliye adres me koi badlav nahi hai
# print(lst[0])

st="vinshita"
# st[1]='a'       #string ke andr change nhi kr sakte hai, 
print(st)

#CONCATENATION OF STRING
st=st[0]+"a"+st[2:]
print(st)

2254560968832
2254560968832
vinshita
vanshita

In [115]:
print(5+7)
print('hello'+'hi')
print([1,2,3]+[4,5,6])
for i in range(5,1,-1):   #5,4,3,2
    print(i)
lst=[1,2,2,3,4,5,66,78,36,12,55,88,96,77,96,11,31,55,27,13,968,487,4521,63,6,8,5,5,2,3,6,541,5,4,5,4,1,2,52,25]
print(lst)
print(lst[3:10])
for t in lst[3:10]:
    print(t)
# for t in range(3,10):
#     print(lst[t],end=" ")

12
hellohi
[1, 2, 3, 4, 5, 6]
5
4
3
2
[1, 2, 2, 3, 4, 5, 66, 78, 36, 12, 55, 88, 96, 77, 96, 11, 31, 55, 27, 13, 968, 487, 4521, 63, 6, 8, 5, 5, 2, 3, 6, 541, 5, 4, 5, 4, 1, 2, 52, 25]
[3, 4, 5, 66, 78, 36, 12]
3
4
5
66
78
36
12

In [131]:
def soumya_function(a):
    sm=0
    for t in a:
        sm=sm+t
    return sm
    
    
lst=[1,2,3,4,5,67]
lst1=[1,2,3]
lst2=[4,5,6]
ans=soumya_function(lst)
ans1=soumya_function(lst1)
ans2=soumya_function(lst2)
print(ans)
print(ans1)
print(ans2)

82
6
15

In [149]:
# def soumya_abs(x):
#     if x==0:
#         return 0
#     elif x<0:
#         return -x
#     else:
#         return x

# a=-3
# b=soumya_abs(a)
# print(b)
    
def s_abs(a):
    if a<0: return -a
    return a

print(s_abs(-1))
        
def s_fact(x):
    ans=1
    for t in range(1,x+1):
    
    # for t in range(x,0,-1):
        ans=ans*t
        
    # while x>0:
    #     ans=ans*x
    #     x=x-1
    return ans
a=4
ans=s_fact(a)
print(ans)

def s_pal(x):
    ans=0
    temp=x
    while x>0:
        rem=x%10
        ans=10*ans+rem
        x=x//10

        #x=27,ans=5,rem=5
        #x=2,ans=57,rem=7
        #x=0,ans=572,rem=2
    if temp==ans:
        return True
    return False
    #false or true
    #275%10=5
    #27%10=7
    #2%10=2
    #0%10=0
    #275//10=27
    #27//10=2
    #2//10=0
    # x=275
    # x=2*100+7*10+5*1
    # ans=0           #ans=0
    # ans=10*ans+5    #ans=10*0+5=5
    # ans=10*ans+7    #ans=10*5+7=57
    # ans=10*ans+2    #ans=10*57+2=572
    




    
    # y=572

    
    # if x==y:
    #     return True
    # return False
    
a=545
ans=s_pal(a)
print(ans)

1
24
True

In [151]:
s='bob'
if s==s[::-1]:
    print('palandome')
else:
    print('not palandrome')

palandome

In [1]:
def s_pal(x):
    # temp=str(x)
    # temp=temp[::-1]
    
    # str(x)=int(temp)
    # if temp==x:
    #     return True
    # return False
    # if str(x)[::-1]==str(x):
    if int(str(x)[::-1])==x:
        return True
    return False

In [16]:
#add two number

a,b=2,3
add=a+b
print(add)

# a,b=input("enter two variables").split()
a=input("enter a=")
b=input("enter b=")
sum=float(a)+float(b)   #******why float?
print("sum of a and b is=",sum)


def s_add(a,b):
    sm=a+b
    return sm
print(s_add(2,3))


import operator as op
sm=op.add(2,3)
print(sum)

5

enter a= 2
enter b= 3

sum of a and b is= 5.0
5
5.0

In [30]:
# MAXIMUM OF TWO NUMBERS IN PYTHON

# print(op.gt(2,3))

a,b=2,3
if a>b:
    print(a,"is maximum")
else: print(b,"is maximum")

print(max(2,3))

a,b=input("enter two number").split()
print("max is", max(a,b))

print(a if a>b else b)

3 is maximum
3

enter two number 2 3

max is 3
3

In [40]:
# maximum of n numbers
# n=input("enter the value of n")
# x = list(map(int, input("Enter multiple values: ").split()))

# lst=input().split(',')
# print(lst)
# print(list(map(int,lst)))

lst=list(map(int,input().split(',')))  #map() is higher order function
print(lst)
lst=sorted(lst)
print(lst)
mx=lst[-1]
mini=lst[0]
print("max=",mx,"min=",mini)

 2,3,4,5

[2, 3, 4, 5]
[2, 3, 4, 5]
max= 5 min= 2

In [52]:
def list_min(lst):
    mini=float('inf')
    for t in lst:
        if t<mini:
            mini=t
    return mini

lst=[1,2,3,5,6,78,9]
print(list_min(lst))
        
def list_max(lst):
    mx=-float('inf')
    
    for t in lst:
        if t>mx:
            mx=t
    return mx

lst=[4,5,6,88,9,4,2,90]
print(list_max(lst))

1
90

In [54]:
def list_sum(lst):
    sm=0
    for t in lst:
        sm=sm+t
    return sm
lst=[1,2,3,4]
print(list_sum(lst))

10

In [56]:
def lst_count(lst):
    count=0
    for t in lst:
        count=count+1
    return count
lst=[1,5,7,9,30,55,7,8,8]
print(lst_count(lst))

9

In [74]:
lst=[23,43,53,63,63,743,85]
print(min(lst))
print(max(lst))
# print("sum", sum(lst))   #****************

print(len(lst))
print(sorted(lst))

23
743
7
[23, 43, 53, 63, 63, 85, 743]

In [87]:
lst=[1,2,3,5,7,8,9]
print(lst)
lst.append(10)
print(lst)
lst.pop(2)
print(lst)
lst=[5,4,3,2,1,2,3,4,5]
# lst=[5,4,3,2,4,5,10,11]
lst.pop(4)
lst.pop(3)
lst.pop(4)
lst.append(10)
lst.append(11)
# lst=set(lst)

print(lst)

[1, 2, 3, 5, 7, 8, 9]
[1, 2, 3, 5, 7, 8, 9, 10]
[1, 2, 5, 7, 8, 9, 10]
[5, 4, 3, 2, 4, 5, 10, 11]

In [97]:
lst=[1,2,3,7,8]
lst.insert(3,4)
lst.insert(4,5)
lst.insert(5,6)
print(lst)

lst=[1,2,3]
bst=[4,5,6]
print(lst+bst)

lst=[2,3,4,6,7,8]
bst=[1,2,3]
# lst.insert(2,bst)
print(lst[0:2]+bst+lst[2:])

def s_unknown(lst,x):
    found=False
    for t in lst:
        if t==x:
            found=True
            break
    return found
        

        
lst=[3,4,5]
print(s_unknown(lst,9))

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6]
[2, 3, 1, 2, 3, 4, 6, 7, 8]
False

In [102]:
def s_index(lst,x):
    n=len(lst)
    for t in range(n):
        if lst[t]==x:
            return t
    return -1
lst=[4,5,7,2,8,9,10,12,45]
print(s_index(lst,67))

-1

In [68]:
lst=[5,7,9,10,11,12,13,14]
n=len(lst)
for i in range(n):
    print(i,lst[i])

0 5
1 7
2 9
3 10
4 11
5 12
6 13
7 14

In [23]:
# Python program to interchange first and last elements in a list
def list_swap(lst):
    x=lst[0]
    y=lst[-1]
    lst[-1]=x
    lst[0]=y
    return lst
lst=[1,2,3]
print(list_swap(lst))

lst=[1,2,3]
lst[0]=lst[0]+lst[-1]
lst[-1]=lst[0]-lst[-1]
lst[0]=lst[0]-lst[-1]
print(lst)
lst=[1,2,3]
lst[0],lst[-1]=lst[-1],lst[0]

print(lst)
lst=[1,2,3]
c=lst[0]
lst[0]=lst[-1]
lst[-1]=c
print(lst)
# a,b=5,7
# c=a
# a=b
# c=b

[3, 2, 1]
[3, 2, 1]
[3, 2, 1]
[3, 2, 1]

In [ ]:
#print all the elements present at even index of an list
#return sum of all the even ele. in a list
#odd
#to create a funtion, where two list will be given, add elemts of list(length equal)
#(length unequal)

In [76]:
#print all the elements present at even index of an list

def list_evensum(lst):
    n=len(lst)
    ans=[]
    for i in range(n):
        if i%2==0:
            ans.append(lst[i])
    return ans

lst=[1,2,3,4,5,6]
print(lst[0::2])
# print(list_evensum(lst))

[1, 3, 5]

In [65]:
# Python program to print Even Numbers in a List
lst=[5,8,2,10,15,7,9]
def list_even(lst):
    ans=[]
    # n=len(lst)
    for t in lst:
        
    # for t in range(n):
        if t%2==0:
            ans.append(t)
            
    return ans
        
lst=[1,2,3,4,5,6]
print(list_even(lst))

[2, 4, 6]

In [50]:
def s_fact(x):
        fact=1
        for t in range(1,x+1):
            fact=fact*t
        return fact

print(s_fact(5))

120

In [55]:
#python program for simple interest
def s_si(P,R,T):
    si=(P*R*T)/100
    return si

p=1000
r=3
t=2
print(s_si(p,r,t))

60.0

In [61]:
#find area of a circle
def ar_circle(r):
    pie=3.14
    ar=pie*r*r
    return ar

r=2
print(ar_circle(r))

# print(10//6)

12.56
1

In [82]:
#check whether the no. is prime or not
# 23
# 2 cases if n>1
# n=1

# def num_prime(x):
    # isPrime=True
    # for num in range(2,x):
        # if x%num==0:
            # isPrime=False
            # break
    # return isPrime
    # if isPrime==True:
    #     print("prime")
    # else: print("not prime")
        
        
a=23
#if a is prime; then we need to print "helloHello" else "htTeri"
   
# num_prime(a)
ans=num_prime(a)
print(ans)

True

In [84]:
 def num_prime(x):
    
    for num in range(2,x):
        if x%num==0:
            return False
    return True
            
     
    # if isPrime==True:
    #     print("prime")
    # else: print("not prime")

In [87]:
lst=[54,8,66,23,9,4]
def list_append(lst,x):
    lst.append(x)
list_append(lst,12)
print(lst)

[54, 8, 66, 23, 9, 4, 12]

In [91]:
lst=[54,8,66,23,9,4]
def list_pop(lst):
    lst.pop(-1)
list_pop(lst)
print(lst)

[54, 8, 66, 23, 9]

In [93]:
s="hello"
def string_pop(s):
    n=len(s)
    return s[0:n-1]

ans=string_pop(s)
print(ans)

hell

In [2]:

#print sum of first n natural no.
def sum_sq(n):
    ans=0
    for num in range(1,n+1):
        ans=ans+num
    return ans

print(sum_sq(5))

15

In [4]:
#print sum of square of first n natural no.
def sum_square(n):
    ans=0
    for num in range(1,n+1):
        ans=ans+(num*num)
    return ans

print(sum_square(3))

14

In [23]:
# write a program to calculate a^n
def a_power(a,n):
    ans=1
    for _ in range(1,n+1):
        ans=ans*a
    return ans
print(a_power(7,3))

343

In [62]:
#write a program for finding no. of digits in an integer
x=12346
# no. of digit=5

def int_digit(x):
    count=0
    while x>0:
        # rem=rem%10
        count+=1
        x=x//10
    return count


# print(int_digit(x))





#write a program to check whether the number is armstrong or not
x=153
# 1^3+5^3+3^3=y==x;True
def s_arm(x):
    sm=0
    temp=x
    n=int_digit(x)
    while x>0:
        rem=x%10
        sm=sm+rem**n
        x=x//10
    # n=len(str(int(x)))
    # for num in range(n):
        # rem=x%10
        # sm=sm+rem**n
        # x=x//10
    if sm==temp:
        return "armstrong"
    else: "not armstrong"
        
print(s_arm(153))

armstrong

In [32]:
# write a program to add all the ele. of a list
def list_add(lst):
    add=0
    for t in lst:
        add=add+t
    return add

lst=[3,4,2]
print(list_add(lst))

9

In [31]:
# write a program to add two list when their length is equal
lst=[2,3,4,5]
bst=[4,5,6,7]

def twolist_add(lst,bst):
    n=len(lst)
    cst=[0]*n
    for i in range(n):
        cst[i]=lst[i]+bst[i]
    
    return cst
    
    
lst=[2,3,4,5]
bst=[4,5,6,7]
print(twolist_add(lst,bst))

[6, 8, 10, 12]

In [33]:
# lst=[]
# for t in range(1000):
    # lst.append(0)
# print(lst)
# lst=[0]*1000
# print(lst)

s='p'*10
print(s)

pppppppppp

In [35]:
# write a program to add two list when their length is unequal
lst=[3,4,5]     #3
bst=[1,2,7,9,8] #5
cst=[4,6,12,9,8]
def sum_unequal(lst,bst):
    n1=len(lst)
    n2=len(bst)
    n=max(n1,n2)
    cst=[0]*n
    for i in range(n1):
        cst[i]=lst[i]
    for i in range(n2):
        cst[i]=bst[i]+cst[i]
    return cst

lst=[3,4,5]     
bst=[1,2,7,9,8]  
print(sum_unequal(lst,bst))

[4, 6, 12, 9, 8]

In [37]:
#write a program to add two list 
lst=[3,4,5]     
bst=[1,2,7,9,8]
cst=[4,6,12]

def s_sum(lst,bst):
    n1=len(lst)
    n2=len(bst)
    n=min(n1,n2)
    cst=[0]*n
    for i in range(n):
        cst[i]=lst[i]+bst[i]
    return cst

print(s_sum(lst,bst))

[4, 6, 12]

In [44]:
#Python Program for reversing a list
lst=[1,2,6,8]
revlst=[8,6,2,1]

def rev_list(lst):
   
    # n=len(lst)
    # lst=lst[-1::-1]
    # return lst[-1::-1]
    return lst[::-1]
    

print(rev_list(lst))

[8, 6, 2, 1]

In [55]:
#Python Program for reversing a list
lst=[3,8,1,6]
rev=[6,1,8,3]

def rev_lst(lst):
    n=len(lst)
    s=0
    e=n-1
    while s<e:
        lst[s],lst[e]=lst[e],lst[s]
        s=s+1
        e=e-1
    # return lst
    


    
    # temp=lst[i]
    # n=len(lst)
    # for i in range(n//2):
        # lst[0],lst[n-1]=lst[n-1],lst[0]
        # lst[1],lst[n-2]=lst[n-2],lst[1]
        # lst[i],lst[n-i-1]=lst[n-i-1],lst[i]
    # return lst

rev_lst(lst)
print(lst)

[6, 1, 8, 3]

In [64]:
# lst=[4,7,3,5,7,93,90,80,60,40,3,6, 8, 9, 324,6, 7, 12, 334]
#      0 1 2 3 4 5   6  7  8 9 10 11 12 13 14  15 16 17  18